* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  font-family: 'Times New Roman', Times, serif;
  color: aquamarine;
  
}
html,
body{
  height: 100%;
  width: 100%;
}
body{
  background-color: #4a4a4a;
}
#category{
  padding: 40px;
  border-radius: 40px;
  background-color: rgb(97, 130, 158);
}
#bankai{
  padding: 10px;
}